
.jumbotron {  
  color: white;
  text-align: center;
  background: rgb(24, 153, 255);
  background: linear-gradient(
    148deg,
    rgba(24, 153, 255, 1) 0%,
    rgba(0, 52, 255, 1) 51%,
    rgba(0, 13, 64, 1) 95%
  );
  margin-bottom: 40px;
}

.btn{
    margin-top: 10px;
}
.card{
  background-color: #343C69;
  color: white;
}
.list-group-item{
  background-color: #CCCCCC;
  color: black;
}

#favorable{
    background-color: greenyellow ;
}

#moderate{
    background-color: rgb(255, 161, 47) ;
}

#severe{
    background-color: rgb(252, 2, 2) ;
}