
.navbar {  
  background: rgb(24, 153, 255);
  background: linear-gradient(
    148deg,
    rgba(24, 153, 255, 1) 0%,
    rgba(0, 52, 255, 1) 51%,
    rgba(0, 13, 64, 1) 95%
  );
  margin-bottom: 40px;
}
.navbar a{
    color: white;
    font-weight: bold;
    font-size: 30px;
  
}
.btn{
    margin-top: 10px;
}

.col{
    background: rgb(24, 153, 255);
    background: linear-gradient(
      148deg,
      rgba(24, 153, 255, 1) 0%,
      rgba(0, 52, 255, 1) 51%,
      rgb(1, 28, 136) 95%
    );
    color: white;  
}

#favorable{
    background-color: greenyellow ;
}

#moderate{
    background-color: rgb(255, 161, 47) ;
}

#severe{
    background-color: rgb(252, 2, 2) ;
}